<section>
  <svg class="logo" viewBox="0 0 1024 448">
    
    <!-- Fill -->
    
    <g class="text-fills" transform="translate(-4.000000, -4.000000)" fill="#FFF">
      
      <!-- T -->
      <path d="M115,50 L115,80 L160,80 L160,210 L190,210 L190,80 L235,80 L235,50 L115,50 Z" id="a"></path>
      
      <!-- R -->
       <path d="M250,50 L250,210 L280,210 L280,140 L280,80 L300,80 L320,95 L300,110 L280,110 L280,140 L295,140 L335,210 L365,210 L325,140 L350,110 L350,80 L320,50 L250,50 Z" id="a"></path>
      
      <!-- A -->
      <path d="M380,210 L410,210 L420,170 L430,145 L440,110 L450,145 L430,145 L420,170 L460,170 L470,210 L500,210 L450,50 L430,50 L380,210 Z" id="a"></path>
      
      <!-- V -->
      <path d="M475,50 L520,210 L550,210 L595,50 L565,50 L535,180 L505,50 L475,50 Z" id="a"></path>
      
      <!-- E -->
      <path d="M610,50 L610,210 L700,210 L700,180 L640,180 L640,145 L680,145 L680,115 L640,115 L640,80 L700,80 L700,50 L610,50 Z" id="a"></path>
      
      <!-- L -->
      <path d="M715,50 L715,210 L805,210 L805,180 L745,180 L745,50 L715,50 Z" id="a"></path>
    </g>
    
    <!-- Letters -->
    
    <g stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd">
      
      <!--T-->
      
      <path d="M115,50 L115,80" class="line vert" stroke-linecap="square"></path> 
      <path d="M115,80 L160,80" class="line hori" stroke-linecap="square"></path> 
      <path d="M160,80 L160,210" class="line vert" stroke-linecap="square"></path> 
      <path d="M160,210 L190,210" class="line hori" stroke-linecap="square"></path> 
      <path d="M190,210 L190,80" class="line vert" stroke-linecap="square"></path> 
      <path d="M190,80 L235,80" class="line hori" stroke-linecap="square"></path> 
      <path d="M235,80 L235,50" class="line vert" stroke-linecap="square"></path> 
      <path d="M235,50 L115,50" class="line hori" stroke-linecap="square"></path> 
      
      <!--R-->

      <path d="M250,50 L250,210" class="line vert"  stroke-linecap="square"></path> 
      <path d="M250,210 L280,210" class="line hori" stroke-linecap="square"></path> 
      <path d="M280,210 L280,140" class="line vert" stroke-linecap="square"></path> 
      <path d="M280,140 L295,140" class="line hori" stroke-linecap="square"></path> 
      <path d="M295,140 L335,210" class="line diag-left" stroke-linecap="square"></path> 
      <path d="M335,210 L365,210" class="line hori" stroke-linecap="square"></path> 
      <path d="M365,210 L325,140" class="line diag-left" stroke-linecap="square"></path> 
      <path d="M325,140 L350,110" class="line diag-right" stroke-linecap="square"></path> 
      <path d="M350,110 L350,80" class="line vert" stroke-linecap="square"></path> 
      <path d="M350,80 L320,50" class="line diag-left" stroke-linecap="square"></path> 
      <path d="M320,50 L250,50" class="line hori" stroke-linecap="square"></path>       
      
      <path d="M280,80 L280,110" class="line vert" stroke-linecap="square"></path> 
      <path d="M280,110 L305,110" class="line hori" stroke-linecap="square"></path> 
      <path d="M305,110 L320,95" class="line diag-right" stroke-linecap="square"></path> 
      <path d="M320,95 L305,80" class="line diag-left" stroke-linecap="square"></path> 
      <path d="M305,80 L280,80" class="line hori" stroke-linecap="square"></path> 

      <!--A-->

      <path d="M380,210 L410,210" class="line hori"  stroke-linecap="square"></path> 
      <path d="M470,210 L500,210" class="line hori" stroke-linecap="square"></path> 
      <path d="M430,50 L450,50" class="line diag-left" stroke-linecap="square"></path> 
      <path d="M380,210 L430,50" class="line diag-left" stroke-linecap="square"></path> 
      <path d="M450,50 L500,210" class="line diag-right" stroke-linecap="square"></path> 
      <path d="M410,210 L420,170" class="line diag-right" stroke-linecap="square"></path> 
      <path d="M470,210 L460,170" class="line diag-left" stroke-linecap="square"></path> 
      <path d="M420,170 L460,170" class="line hori" stroke-linecap="square"></path> 
      <path d="M430,145 L450,145" class="line hori" stroke-linecap="square"></path> 
      <path d="M430,145 L440,110" class="line diag-right" stroke-linecap="square"></path> 
      <path d="M440,110 L450,145" class="line diag-left" stroke-linecap="square"></path> 
      
      <!--V-->
      
      <path d="M475,50 L505,50" class="line hori" stroke-linecap="square"></path> 
      <path d="M565,50 L595,50" class="line hori" stroke-linecap="square"></path> 
      <path d="M505,50 L535,180" class="line diag-left" stroke-linecap="square"></path> 
      <path d="M535,180 L565,50" class="line diag-right" stroke-linecap="square"></path> 
      <path d="M475,50 L520,210" class="line diag-left" stroke-linecap="square"></path> 
      <path d="M520,210 L550,210" class="line hori" stroke-linecap="square"></path> 
      <path d="M550,210 L595,50" class="line diag-right" stroke-linecap="square"></path> 
      
      <!--E-->
      
      <path d="M610,50 L610,210" class="line vert" stroke-linecap="square"></path> 
      <path d="M610,210 L700,210" class="line hori" stroke-linecap="square"></path> 
      <path d="M700,210 L700,180" class="line vert" stroke-linecap="square"></path> 
      <path d="M700,180 L640,180" class="line hori" stroke-linecap="square"></path> 
      <path d="M640,180 L640,145" class="line vert" stroke-linecap="square"></path> 
      <path d="M640,145 L680,145" class="line hori" stroke-linecap="square"></path> 
      <path d="M680,145 L680,115" class="line vert" stroke-linecap="square"></path> 
      <path d="M680,115 L640,115" class="line hori" stroke-linecap="square"></path> 
      <path d="M640,115 L640,80" class="line vert" stroke-linecap="square"></path> 
      <path d="M640,80 L700,80" class="line hori" stroke-linecap="square"></path> 
      <path d="M700,80 L700,50" class="line vert" stroke-linecap="square"></path> 
      <path d="M700,50 L610,50" class="line hori" stroke-linecap="square"></path> 
      
     
      <!--L-->
      
      <path d="M715,50 L715,210" class="line vert" stroke-linecap="square"></path> 
      <path d="M715,210 L805,210" class="line hori" stroke-linecap="square"></path> 
      <path d="M805,210 L805,180" class="line vert" stroke-linecap="square"></path> 
      <path d="M805,180 L745,180" class="line hori" stroke-linecap="square"></path> 
      <path d="M745,180 L745,50" class="line vert" stroke-linecap="square"></path> 
      <path d="M745,50 L715,50" class="line hori" stroke-linecap="square"></path>
      
    </g>
  </svg>
</section>

<footer>
  http://anime-js.com/ <br />
  Original pen from Julian Garnier: <br />
  https://codepen.io/juliangarnier/pen/RRKEoB
</footer>