@mixin a-btn {
  display: block;
  position: relative;
  height: 90px;
  margin: 10px 0px;
  padding-left: 90px;
  padding-right: 105px;
  border: 1px solid #80ab5d;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;

  img {
    position: absolute;
    top: 13px;
    left: 15px;
    border: none;
  }
  
  .price {
    position: absolute;
    top: 18px;
    left: 18px;
    font-size:36px;
    opacity: 0;
  }

  .text {
    display: block;
    padding-top: 13px;
    font-size: 30px;
    text-decoration: none;
    
    small {
      display: block;
      font-size: 11px;
      letter-spacing: 1px;
    }
  }

  .icon {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 80px;
    
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 38px;
      width: 38px;
      margin: -20px 0px 0px -20px;
      border: 1px solid rgba(0,0,0,0.5);
      border-radius: 20px;
      opacity: 0.7;
      transition: all 0.3s ease-in-out;
    }
  }
}

.a-btn-1 {
  @include a-btn;
  background: linear-gradient(to top, #a9db80 0%, #96c56f 100%);

  img {
    transition: all 0.3s ease-in-out;
  }
  
  .price {
    color: #6d954e;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.4);
    transition: opacity 0.2s ease-in-out;
  }

  .text {
    text-shadow: 0px -1px 1px #80ab5d;
  }

  .icon {
    border-left: 1px solid #80ab5d;
    box-shadow: 1px 0px 1px rgba(255,255,255,0.4) inset;
  
    span {
      box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset, 0px 1px 2px rgba(255,255,255,0.5);
      background: #4e5c50 url(../../../assets/009/arrow_down.png) no-repeat center center;
    }
  }
}

.a-btn-2 {
  @include a-btn;
  background: linear-gradient(to top, #80a9da 0%, #6f97c5 100%);

  img {
    transition: all 0.2s ease-in-out;
  }

  .price {
    color: #bde086;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in;
  }

  .text {
    color: white;
    text-shadow: 0px -1px 1px #5d81ab;
  }

  .icon {
    border-left:1px solid #5d81ab;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
  
    span {
      background:#5b5b5b url(../../../assets/009/arrow_down.png) no-repeat center center;
      box-shadow:0px 1px 1px rgba(255,255,255,0.3) inset, 0px 1px 2px rgba(255,255,255,0.5);
    }
  }
}

.a-btn-1:hover {
  box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);

  img {
    opacity: 0;
    transform: scale(10);
  }

  .price, .icon span {
    opacity: 1;
  }
}

.a-btn-1:active {
  position: relative;
  top: 1px;
  border-color: #a9db80;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset;
  background: #80ab5d;

  .icon span {
    transform: scale(1.4);
  }
}

.a-btn-2:hover {
  box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4); 
  
  img {
    opacity: 0;
  }

  .price {
    opacity: 1;
    transform: scale(1.1);
  }

  .icon span {
    background-color: #bc3532;
    opacity: 1;
  }
}

.a-btn-2:active {
  position: relative;
  top: 1px;
  border-color: #80a9da;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset;
  background: #5d81ab;

  .icon span{
    transform: rotate(360deg);
  }
}
