<section>
  <a href="#" class="a-btn a-btn-1">
    <img src="../../../assets/009/icons/1.png" alt="Photos" />
    <span class="price">
      $29
    </span>
    <span class="text">
      <small>
        Available on the Apple
      </small>
      App Store
    </span> 
    <span class="icon">
      <span></span>
    </span>
  </a>

  <a href="#" class="a-btn a-btn-2">
    <img src="../../../assets/009/icons/1.png" alt="Photos" />
    <span class="price">
      $29
    </span>
    <span class="text">
      <small>
        Available on the Apple
      </small>
      App Store
    </span> 
    <span class="icon">
      <span></span>
    </span>
  </a>
</section>

<footer>
  Original design: <br />
  https://tympanus.net/codrops/2011/11/07/animated-buttons-with-css3/
</footer>