<header>
  <header id="header" class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/" class="navbar-brand">
          Angular Gadgets
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/"> Home </a></li>
        <li><a routerLink="/001"> PricingCalculator </a></li>
        <li><a routerLink="/002"> CrazyButtons </a></li>
        <li><a routerLink="/003"> StopWatch </a></li>
      </ul>
    </div>
  </header>
</header>

<main>
  <router-outlet></router-outlet>
</main>