<div class="jumbotron text-center">
  <div id="timer">
      {{ minutes }} : {{ seconds }}
  </div>

  <div id="empty">
  </div>

  <div class="timer-buttons">
    <div class="btn btn-lg btn-success" data-action="start">
      Start
    </div>
    <div class="btn btn-lg btn-danger" data-action="stop">
      Stop
    </div>
    <div id="btn-reset" class="btn btn-lg btn-danger" data-action="reset">
      Reset
    </div>
  </div>
</div>

<footer>
  <p>Application idea (in JS): https://school.scotch.io/getting-started-with-javascript/stopwatch</p>
</footer>
